// Fonts
@font-face {
  font-family: "MyriadPro-Light";
  src: local("MyriadPro-Light"),
    url(../assets/fonts/MyriadPro-Light.otf) format("opentype");
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: local("MyriadPro-Regular"),
    url(../assets/fonts/MyriadPro-Regular.otf) format("opentype");
}

@font-face {
  font-family: "MyriadPro-SemiBold";
  src: local("MyriadPro-SemiBold"),
    url(../assets/fonts/MyriadPro-SemiBold.otf) format("opentype");
}

// SASS Variables
$base-color: rgba(26, 31, 113, 255);
$gray-color: rgba(47, 47, 47, 255);
$black-color: rgba(21, 21, 21, 255);

// Base Layout
body {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "MyriadPro-Light", sans-serif;
  font-size: 50px;
  line-height: 105%;
}

h2 {
  font-family: "MyriadPro-Light", sans-serif;
  font-size: 40px;
  line-height: 105%;
}

h3 {
  font-family: "MyriadPro-Light", sans-serif;
  font-size: 32px;
  line-height: 120%;
}

p {
  font-family: "MyriadPro-Light", sans-serif;
  font-size: 20px;
  line-height: 125%;
}
