/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "MyriadPro-Light";
  src: local("MyriadPro-Light"), url(../assets/fonts/MyriadPro-Light.otf) format("opentype");
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: local("MyriadPro-Regular"), url(../assets/fonts/MyriadPro-Regular.otf) format("opentype");
}
@font-face {
  font-family: "MyriadPro-SemiBold";
  src: local("MyriadPro-SemiBold"), url(../assets/fonts/MyriadPro-SemiBold.otf) format("opentype");
}
body {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "MyriadPro-Light", sans-serif;
  font-size: 3rem;
  line-height: 105%;
  color: #1a1f71;
}

h2 {
  font-family: "MyriadPro-Light", sans-serif;
  font-size: 2.5rem;
  line-height: 105%;
  color: #1a1f71;
}

h3 {
  font-family: "MyriadPro-Light", sans-serif;
  font-size: 2rem;
  line-height: 120%;
  color: #1a1f71;
}

h4 {
  font-family: "MyriadPro-Light", sans-serif;
  font-size: 1.25 rem;
  line-height: 125%;
  color: #151515;
}

p {
  font-family: "MyriadPro-Light", sans-serif;
  font-size: 1.25rem;
  line-height: 125%;
  color: #2f2f2f;
}

.heroContainer {
  width: 100%;
  height: 40%;
}
.heroContainer div {
  width: 100%;
  height: 40%;
  position: relative;
}
.heroContainer div figure .heroImage {
  width: 100%;
  object-fit: cover;
  border-top: 15px solid orange;
}
.heroContainer div .asideInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  background-color: transparent;
  left: 4%;
  top: 8%;
}
@media only screen and (max-width: 1100px) {
  .heroContainer div .asideInfo {
    top: 15%;
  }
}
.heroContainer div .asideInfo h1 {
  margin-bottom: 4%;
}
@media only screen and (max-width: 1100px) {
  .heroContainer div .asideInfo h1 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 800px) {
  .heroContainer div .asideInfo h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 575px) {
  .heroContainer div .asideInfo h1 {
    font-size: 1rem;
  }
}
.heroContainer div .asideInfo h3 {
  margin-top: 2%;
}
@media only screen and (max-width: 1100px) {
  .heroContainer div .asideInfo h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .heroContainer div .asideInfo h3 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 575px) {
  .heroContainer div .asideInfo h3 {
    font-size: 0.75rem;
  }
}
.heroContainer div .asideInfo figure .visaImage {
  margin-top: 10%;
}
@media only screen and (max-width: 1100px) {
  .heroContainer div .asideInfo figure .visaImage {
    width: 200px;
    height: auto;
  }
}
@media only screen and (max-width: 800px) {
  .heroContainer div .asideInfo figure .visaImage {
    width: 150px;
    height: auto;
  }
}
@media only screen and (max-width: 575px) {
  .heroContainer div .asideInfo figure .visaImage {
    width: 100px;
    height: auto;
  }
}

.informationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.informationContainer .articleRelyOn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: auto;
  text-align: center;
  margin-top: 3%;
}
.informationContainer .articleRelyOn .relyOnText {
  margin-top: 2%;
}
.informationContainer .articleThingsToBuy {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: auto;
  text-align: center;
}
@media only screen and (max-width: 1100px) {
  .informationContainer .articleThingsToBuy {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 5% 0%;
  }
}
.informationContainer .articleThingsToBuy .thingToBuy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 5% 0%;
}
@media only screen and (max-width: 1100px) {
  .informationContainer .articleThingsToBuy .thingToBuy {
    margin: 2% 0%;
  }
}
.informationContainer .articleThingsToBuy .thingToBuy figure {
  width: 80px;
  height: 80px;
}
.informationContainer .articleThingsToBuy .thingToBuy figure .iconTTB {
  width: 100%;
  height: 100%;
}
.informationContainer .articleThingsToBuy .thingToBuy .headerTTB {
  margin-top: 2%;
  margin-bottom: 1%;
}
.informationContainer .articleThingsToBuy .thingToBuy .textTTB {
  width: 50%;
}
.informationContainer .articleNoWorries {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3% 0%;
}
.informationContainer .articleNoWorries .noWorriesWrapper {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
@media only screen and (max-width: 1100px) {
  .informationContainer .articleNoWorries .noWorriesWrapper {
    width: 75%;
    height: auto;
  }
}
@media only screen and (max-width: 1100px) {
  .informationContainer .articleNoWorries .noWorriesWrapper .noWorriesHeader {
    margin: 4% 0%;
  }
}
.informationContainer .articleNoWorries .noWorriesWrapper .noWorriesText {
  margin: 4% 0%;
}

.callToAction {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: orange;
}
.callToAction .actionPhotoContainer {
  width: 30%;
  height: auto;
}
.callToAction .actionPhotoContainer .actionPhoto {
  width: 100%;
  height: auto;
}
.callToAction .actionAsideContainer {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.callToAction .actionAsideContainer .actionAside {
  width: 70%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100%;
}
@media only screen and (max-width: 1100px) {
  .callToAction .actionAsideContainer .actionAside {
    width: 85%;
  }
}
.callToAction .actionAsideContainer .actionAside p {
  font-family: "MyriadPro-Light";
  font-size: 2.8rem;
  color: #1a1f71;
  line-height: 120%;
}
@media only screen and (max-width: 1200px) {
  .callToAction .actionAsideContainer .actionAside p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .callToAction .actionAsideContainer .actionAside p {
    font-size: 1rem;
  }
}
